Options All -Indexes

<Files .htaccess>
order allow,deny
deny from all
</Files>

<IfModule mod_rewrite.c>
  # Redirect to the public folder
  RewriteEngine On
  # RewriteBase /
  RewriteCond %{REQUEST_METHOD} OPTIONS
  RewriteRule ^$ public/ [L]
  RewriteRule (.*) public/$1 [L]


  # Redirect to HTTPS
  # RewriteEngine On
  # RewriteCond %{HTTPS} off
  # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

<LimitExcept GET POST PUT DELETE OPTIONS>
    Allow from all
</LimitExcept>